/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        mt: mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            // ┌──────────┬─────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬─────┬─────┬─────┬──────────┐
            // │  GRV     │  Q  │  W  │  E  │  R  │  T  │   │  Y  │  U  │  I  │  O  │  P  │  LBKT    │
            // │  LCTL    │  A  │  S  │  D  │  F  │  G  │   │  H  │  J  │  K  │  L  │  ;  │ RCTL/'   │
            // │  LALT    │  Z  │  X  │  C  │  V  │  B  │   │  N  │  M  │  ,  │  .  │  /  │ RALT/]   │
            //               ╰─LT2/TAB─┴─RSFT/SPC─┴─LT1/ENT─╯ ╰─LT1/ESC─┴─LSFT/BSPC─┴─LT2/DEL─╯
            bindings = 
&kp GRAVE  &kp Q  &kp W  &kp E     &kp R            &kp T        &kp Y      &kp U           &kp I      &kp O    &kp P     &kp LBKT
&kp LCTRL  &kp A  &kp S  &kp D     &kp F            &kp G        &kp H      &kp J           &kp K      &kp L    &kp SEMI  &mt RCTRL SQT
&kp LALT   &kp Z  &kp X  &kp C     &kp V            &kp B        &kp N      &kp M           &kp COMMA  &kp DOT  &kp FSLH  &mt RALT RBKT
                          &lt 2 TAB  &mt RSHFT SPACE  &lt 1 RET    &lt 1 ESC  &mt LSHFT BSPC  &lt 2 DEL
            >;
        };

        lower_layer {
            display-name = "Lower";
            // ┌──────────┬──────┬─────┬─────┬─────┬─────┐   ┌─────┬─────┬──────┬──────┬──────┬──────────┐
            // │    F1    │  F2  │  F3 │  F4 │  F5 │  F6 │   │  F7 │  F8 │  F9  │  F10 │  F11 │ RGUI/F12 │
            // │ LCTL/+   │  !   │  @  │  #  │  $  │  %  │   │  ^  │  &  │  *   │  (   │  )   │ RCTL/-   │
            // │ LALT/=   │  1   │  2  │  3  │  4  │  5  │   │  6  │  7  │  8   │  9   │  0   │   BSLH   │
            //                          ╰─TRNS─┴─TRNS─┴─TRNS─╯ ╰─TRNS─┴─TRNS─┴─TRNS─╯
            bindings = 
&kp F1          &kp F2    &kp F3  &kp F4    &kp F5    &kp F6       &kp F7     &kp F8    &kp F9    &kp F10  &kp F11  &mt RGUI F12
&mt LCTRL PLUS  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &mt RCTRL MINUS
&mt LALT EQUAL  &kp N1    &kp N2  &kp N3    &kp N4    &kp N5       &kp N6     &kp N7    &kp N8    &kp N9   &kp N0   &kp BSLH
                           &trans  &trans    &trans    &trans       &trans     &trans
            >;
        };

        raise_layer {
            display-name = "Raise";
            // ┌──────────┬────────┬─────┬─────┬─────┬───────┐   ┌──────┬──────┬──────┬──────┬────────┬──────────┐
            // │  NLCK    │   /    │  7  │  8  │  9  │   -   │   │ VOLU │ HOME │ PSCR │ PGUP │  SLCK  │   CAPS   │
            // │ LCTL/=   │   *    │  4  │  5  │  6  │   +   │   │ MUTE │ LEFT │  UP  │ RGHT │  INS   │ RCTL/APP │
            // │  LGUI    │   0    │  1  │  2  │  3  │   ,   │   │ VOLD │ END  │ DOWN │ PGDN │  PAUS  │   TRNS   │
            //                     ╰─TRNS─┴─TRNS─┴─TRNS─╯ ╰─TRNS─┴─TRNS─┴─TRNS─╯
            bindings = 
&kp KP_NUM          &kp KP_SLASH     &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MINUS    &kp C_VOL_UP  &kp HOME  &kp PSCRN  &kp PG_UP  &kp SLCK         &kp CAPS
&mt LCTRL KP_EQUAL  &kp KP_MULTIPLY  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS     &kp C_MUTE    &kp LEFT  &kp UP     &kp RIGHT  &kp INS          &mt RCTRL K_APP
&kp LGUI            &kp KP_N0        &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_COMMA    &kp C_VOL_DN  &kp END   &kp DOWN   &kp PG_DN  &kp PAUSE_BREAK  &trans
                                      &trans     &trans     &trans      &trans          &trans        &trans
            >;
        };

        adjust_layer {
            display-name = "Adjust";
            bindings = 
&bootloader  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                             &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
